<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286098711156-aff8vc93oado7j9aveq5l4vioeadtgmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286098711156-aff8vc93oado7j9aveq5l4vioeadtgmh</string>
	<key>API_KEY</key>
	<string>AIzaSyAjW2VeSbYFHSaAojsOywijsz9yYcQR4bU</string>
	<key>GCM_SENDER_ID</key>
	<string>286098711156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseClone</string>
	<key>PROJECT_ID</key>
	<string>fir-clone-d11ee</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-clone-d11ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286098711156:ios:6f8be40197c0b404</string>
	<key>DATABASE_URL</key>
	<string>https://fir-clone-d11ee.firebaseio.com</string>
</dict>
</plist>